# Python
# Python virtual environment
.venv/
venv/
env/

# Environment secrets
.env
.env.local

.idea/

venv/
__pycache__/
*.pyc
.env

# Flask
instance/

# Database
*.db
*.sqlite
*.sqlite3

# React / Node
node_modules/
dist/
build/
.env.local


# Node packages
node_modules/
**/node_modules/


# VS Code / system
.vscode/
.DS_Store
Thumbs.db